 <h1>Customer Data Table</h1>
<button (click)="loadData()">Load Data</button>
<button (click)="createCustomer()">Create New Customer</button>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Website</th>
      <th>Address</th>
      <th>Created On</th>
      <th>Modified On</th>
      <th>Actions</th>
      <th>Show Users</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let customer of customers">
      <ng-container *ngIf="!customer.editing; else editRowTemplate">
        <td>{{ customer.name }}</td>
        <td>{{ customer.website }}</td>
        <td>{{ customer.address }}</td>
        <td>{{ customer.created_on }}</td>
        <td>{{ customer.modified_on }}</td>
        <td>
          <button (click)="editRow(customer)">Edit</button>
          <button (click)="deleteRow(customer)">Delete</button>
         
        </td>
        <td> <button (click)="showUsers(customer)">Show Users</button></td>
      </ng-container>
      <ng-template #editRowTemplate>
        <td><input type="text" name="name" [(ngModel)]="customer.name" placeholder="Name"></td>
        <td><input type="text" name="website" [(ngModel)]="customer.website" placeholder="Website"></td>
        <td><input type="text" name="address" [(ngModel)]="customer.address" placeholder="Address"></td>
        <td>{{ customer.created_on }}</td>
        <td>{{ customer.modified_on }}</td>
        <td>
          <button (click)="saveRow(customer)">Save</button>
          <button (click)="cancelEdit(customer)">Cancel</button>
        </td>
        <td></td>
      </ng-template>
    </tr>
  </tbody>
</table> 
<!--<div *ngIf="selectedCustomer">
  <h2>Associated Users</h2>
  <table>
    <thead>
      <tr>
        <th>First Name</th>
        <th>Middle Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Address</th>
        <th>Phone Number</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of usersForSelectedCustomer">
        <td>{{ user.first_name }}</td>
        <td>{{ user.middle_name }}</td>
        <td>{{ user.last_name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.address }}</td>
        <td>{{ user.phone_number }}</td>
        <td>
          <button (click)="updateUserForSelectedCustomer(user.id!)">Edit</button>
          <button (click)="deleteUserForSelectedCustomer(user.id!)">Delete</button> 
        </td>
      </tr>
    </tbody>
  </table>
</div> -->
<div *ngIf="selectedCustomer">
  <h2>Associated Users</h2>
  <table>
    <thead>
      <tr>
        <th>First Name</th>
        <th>Middle Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Address</th>
        <th>Phone Number</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let user of usersForSelectedCustomer">
        <tr *ngIf="!user.editing; else editUserTemplate">
          <td>{{ user.first_name }}</td>
          <td>{{ user.middle_name }}</td>
          <td>{{ user.last_name }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.address }}</td>
          <td>{{ user.phone_number }}</td>
    
        </tr>
        <ng-template #editUserTemplate>
          <tr>
            <td><input type="text" [(ngModel)]="user.first_name" /></td>
            <td><input type="text" [(ngModel)]="user.middle_name" /></td>
            <td><input type="text" [(ngModel)]="user.last_name" /></td>
            <td><input type="text" [(ngModel)]="user.email" /></td>
            <td><input type="text" [(ngModel)]="user.address" /></td>
            <td><input type="text" [(ngModel)]="user.phone_number" /></td>
          </tr>
        </ng-template>
      </ng-container>
    </tbody>
  </table>
</div>
